.navbar {
    background-color: #c71616;
    /* Color amarillo claro */
    padding: 15px;
    /* Espaciado interno */
    display: flex;
    /* Usar flexbox para alinear los elementos */
    justify-content: space-between;
    /* Espacio entre logo y menú */
    align-items: center;
    /* Centrar verticalmente */
    width: 100%;
    /* Asegurarse de que cubra todo el ancho */
    position: fixed;
    /* Fijar el navbar en la parte superior */
    top: 0;
    /* Colocarlo en la parte superior */
    left: 0;
    /* Alinear a la izquierda */
    z-index: 1000;
    /* Asegurarse de que esté por encima de otros elementos */
    opacity: 0.5;
}

.navbar-brand {
    color: #1c1d03;
    /* Color del texto del logo */
    text-decoration: none;
    /* Sin subrayado */
    font-size: 24px;
    /* Tamaño del texto */
    margin-left: 20px;
    /* Espacio a la izquierda del logo */
}

.navbar-menu {
    list-style: none;
    /* Sin viñetas */
    padding: 0;
    /* Sin padding */
    margin: 0;
    /* Sin margen */
    display: flex;
    /* Usar flexbox para alinear los elementos del menú */
    margin-right: 20px;
    /* Espacio a la derecha del menú */
}

.navbar-menu li {
    margin-left: 20px;
    /* Espacio entre los elementos del menú */
}

.navbar-menu a {
    color: #1c1d03;
    /* Color del texto del menú */
    text-decoration: none;
    /* Sin subrayado */
    font-size: 18px;
    /* Tamaño del texto */
    transition: color 0.3s;
    /* Transición suave para el color */
}

.navbar-menu a:hover {
    color: #d4d4d4;
    /* Color al pasar el mouse */
}

body {
    background-image: linear-gradient(to bottom, rgba(255, 255, 0, 0.5), rgba(0, 0, 255, 0.5)), url('../images/tabe.jpeg');
    background-size: cover;
    /* Cubre toda la pantalla */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    /* Espacio para el navbar fijo */
}

header {
    background-color: #333;
    /* Color del header */
    color: #fff;
    /* Color del texto */
    padding: 20px;
    /* Espaciado interno */
    text-align: center;
    /* Centrar texto */
    width: 100%;
    /* Asegurarse de que cubra todo el ancho */
}

h1,
h2 {
    margin: 0;
    /* Sin margen */
    animation: fadeIn 1s ease-in-out;
}

.container {
    display: flex;
    /* Usar flexbox para alinear los botones */
    justify-content: center;
    /* Centrar los botones */
    align-items: center;
    /* Centrar verticalmente */
    flex-wrap: wrap;
    /* Permitir que los botones se envuelvan si es necesario */
    text-align: center;
    /* Centrar texto */
    padding: 20px;
    /* Espaciado interno */
    width: 100%;
    /* Asegurarse de que cubra todo el ancho */
    animation: fadeIn 1s ease-in-out;
}

.btn,
.btn1,
.btn2 {
    color: tomato;
    padding: 40vh 10px;
    margin: 10px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    font-size: 30px;
    background-size: cover;
    background-position: center;
    width: 80%;
    max-width: 400px;
    animation: fadeIn 1s ease-in-out;
    cursor: pointer;
    background-image: none;
    transition: background-image 0.3s;
}

.btn:hover {
    color: white;
    /* Color del texto */
    background-image: url('../images/copa.jpeg');
    /* Imagen de fondo */
}

.btn1:hover {
    color: #FF4500;
    /* Color del texto */
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    /* Sombra del texto */
    background-image: url('../images/spec.jpeg');
    /* Imagen de fondo */
}

.btn2:hover {
    color: blue;
    /* Color del texto */
    background-image: url('../images/helado.jpeg');
    /* Imagen de fondo */
}

.special-bg {
    background-image: url('../images/desayuno.jpeg');
    color: #ff0000;
    opacity: 0.5;
}