{% extends 'home.html' %}
{% load static %}

{% block title %}Iniciar Sesión | Yeyita's Bar{% endblock %}

{% block content %}
<h2>Iniciar sesión</h2>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        <label for="{{ form.username.id_for_label }}">Nombre de usuario:</label>
        {{ form.username }}
        {{ form.username.errors }}
    </div>
    <div>
        <label for="{{ form.password.id_for_label }}">Contraseña:</label>
        {{ form.password }}
        {{ form.password.errors }}
    </div>
    <button type="submit">Entrar</button>
</form>
{% endblock %}
